openapi: 3.0.0
info:
  title: ICTServe API
  version: 1.0.0
  description: |
    Specification for ICTServe Helpdesk & ICT Asset Loan Management REST API.

    **Source of Truth:** This specification is the canonical contract for all API endpoints.
    Updates to this spec MUST be validated in CI (see `.github/workflows/api-validation.yml`).

    **Traceability:** See D08 (System Integration Specification) for detailed requirements,
    D03 for functional requirements (API-001, API-002, API-003), and D11 for technical design.
  contact:
    name: API Owner
    email: devops@motac.gov.my
  license:
    name: Internal Use Only
    url: https://motac.gov.my
  x-metadata:
    version-semver: "1.0.0"
    last-updated: "2025-10-22"
    status: "draft"
    classification: "Public"
    trace: "D03 §5; D08 §3; D11 §12"

servers:
  - url: https://api.ictserve.motac.gov.my/api/v1
    description: Production API
  - url: https://staging-api.ictserve.motac.gov.my/api/v1
    description: Staging API
  - url: http://localhost:8000/api/v1
    description: Local development

# Global security schemes
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Short-lived JWT access token (issued by /auth/token endpoint).
        Include in Authorization header: `Authorization: Bearer <token>`

    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Deprecated. Use BearerToken (OAuth2/JWT) instead.

  # Shared response schemas
  schemas:
    # Standard error envelope
    ErrorResponse:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - status
              - code
              - title
              - detail
              - trace_id
            properties:
              status:
                type: string
                example: "422"
              code:
                type: string
                example: "validation_failed"
              title:
                type: string
                example: "Validation Error"
              detail:
                type: string
                example: "The 'email' field is required."
              trace_id:
                type: string
                format: uuid
                example: "8a6f3c4e-f7a2-4d1b-9e3c-2a5d8f1b7c9e"

    # Pagination meta
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          example: 234
        per_page:
          type: integer
          example: 25
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 10

    # Ticket schema
    Ticket:
      type: object
      required:
        - id
        - ticket_no
        - subject
        - description
        - status
        - priority
        - category
        - created_at
      properties:
        id:
          type: integer
          example: 1
        ticket_no:
          type: string
          example: "TKT-2025-000001"
        subject:
          type: string
          example: "Permintaan Password Reset"
        description:
          type: string
          example: "Saya lupa kata laluan saya"
        status:
          type: string
          enum: [open, in_progress, resolved, closed]
          example: "open"
        priority:
          type: string
          enum: [low, medium, high, urgent]
          example: "medium"
        category:
          type: string
          example: "Account & Access"
        created_at:
          type: string
          format: date-time
          example: "2025-10-22T10:30:00Z"

    # Loan schema
    Loan:
      type: object
      required:
        - id
        - user_id
        - asset_id
        - status
        - requested_at
      properties:
        id:
          type: integer
          example: 5
        user_id:
          type: integer
          example: 10
        asset_id:
          type: integer
          example: 42
        status:
          type: string
          enum: [pending, approved, rejected, active, returned, lost]
          example: "pending"
        requested_at:
          type: string
          format: date-time
          example: "2025-10-21T14:00:00Z"

    # Asset schema
    Asset:
      type: object
      required:
        - id
        - tag_id
        - name
        - category
        - status
      properties:
        id:
          type: integer
          example: 42
        tag_id:
          type: string
          example: "AST-2025-000042"
        name:
          type: string
          example: "Dell Laptop XPS 13"
        category:
          type: string
          example: "Laptop"
        status:
          type: string
          enum: [available, on_loan, maintenance, retired]
          example: "available"
        acquisition_cost:
          type: number
          format: float
          example: 5000.00

# API Endpoints
paths:
  # TICKETS
  /tickets:
    get:
      summary: List all tickets
      operationId: listTickets
      tags:
        - Tickets
      security:
        - BearerToken: []
      parameters:
        - name: page[number]
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: page[size]
          in: query
          description: Items per page
          schema:
            type: integer
            default: 25
        - name: filter[status]
          in: query
          description: Filter by ticket status
          schema:
            type: string
            enum: [open, in_progress, resolved, closed]
        - name: sort
          in: query
          description: Sort order (prefix with - for descending)
          schema:
            type: string
            example: "-created_at"
      responses:
        "200":
          description: Success - ticket list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Ticket"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit:
              schema:
                type: string
                example: "100"
            X-RateLimit-Remaining:
              schema:
                type: string
                example: "50"
            Retry-After:
              schema:
                type: string
                example: "60"

    post:
      summary: Create a new ticket
      operationId: createTicket
      tags:
        - Tickets
      security:
        - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
                - description
                - category
              properties:
                subject:
                  type: string
                  example: "Permintaan Password Reset"
                description:
                  type: string
                  example: "Saya lupa kata laluan saya"
                category:
                  type: string
                  example: "Account & Access"
      responses:
        "201":
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Ticket"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # LOANS
  /loans:
    get:
      summary: List all asset loans
      operationId: listLoans
      tags:
        - Asset Loans
      security:
        - BearerToken: []
      parameters:
        - name: page[number]
          in: query
          schema:
            type: integer
            default: 1
        - name: filter[status]
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, active, returned, lost]
      responses:
        "200":
          description: Success - loan list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Loan"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Submit an asset loan request
      operationId: createLoan
      tags:
        - Asset Loans
      security:
        - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - asset_id
                - reason
              properties:
                asset_id:
                  type: integer
                  example: 42
                reason:
                  type: string
                  example: "Kerja luar negara"
      responses:
        "201":
          description: Loan request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Loan"
        "422":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ASSETS
  /assets:
    get:
      summary: List all ICT assets
      operationId: listAssets
      tags:
        - Assets
      security:
        - BearerToken: []
      parameters:
        - name: filter[status]
          in: query
          schema:
            type: string
            enum: [available, on_loan, maintenance, retired]
        - name: filter[category]
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success - asset list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Asset"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

# Global headers & metadata
x-github-actions:
  - filename: .github/workflows/api-validation.yml
    description: CI job that validates this OpenAPI spec against implementation
    referenced_by: [D08 §11]

x-traceability:
  requirements:
    - API-001 (Standardized JSON API envelope)
    - API-002 (OpenAPI 3.0 specification)
    - API-003 (Request/response contract validation)
  design:
    - D08 §3 (API design & envelope)
    - D08 §11 (OpenAPI specification)
    - D11 §12 (API monitoring & rate limiting)
  standards:
    - RFC 6750 (Bearer Token Usage)
    - RFC 7231 (HTTP/1.1 Semantics)
    - OAS 3.0.0 (OpenAPI Specification)

# Implementation notes
x-implementation-notes: |
  1. This specification is a machine-readable contract for API consumers.
  2. All endpoint examples use "Bahasa Melayu" (MS) for user-facing content; English available per D15 language policy.
  3. Rate limiting: 100 requests/min per token (NFR-007).
  4. All responses include X-Request-ID and trace_id for correlation (D11 §12).
  5. Endpoints require Bearer token authentication (JWT); short-lived tokens from /auth/token.
  6. Error responses follow standard envelope (data/meta/errors structure) per D08 §3.
  7. CI validates this spec against implementation via openapi-cli; integration tests verify contract compliance (D07 §8).
