root = true

[*]
charset = utf-8
end_of_line = lf
; Use tabs for code by default. Keep YAML and other file type exceptions below.
indent_style = tab
indent_size = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{php,blade.php,js,ts,vue,css,scss,html,json,xml}]
indent_style = tab
indent_size = tab

[compose.yaml]
indent_size = 4
