parameters:
  level: 9
  paths:
    - app
    - bootstrap
    - config
    - database
    - routes

  excludePaths:
    - database/migrations
    - tests

  treatPhpDocTypesAsCertain: false
  
  ignoreErrors:
    - '#Cannot redeclare class#'
    - '#on an unknown class Filament#'
    - '#Access to an undefined property (object|Illuminate\\Database\\Eloquent\\Model)::\$#'
    - '#Access to an undefined property App\\Models\\.*::\$#'
