openapi: 3.0.3
info:
  title: ICTServe Ollama AI Integration API
  description: |
    API untuk integrasi AI Ollama dengan sistem ICTServe v3.6.0.

    Menyediakan keupayaan FAQ Bot, Analisis Dokumen, dan Auto-Reply 
    dengan pematuhan D00-D17 v3.6.0 termasuk Bahasa Melayu sahaja (D15).

    **Ciri Utama:**
    - FAQ Bot AI untuk sokongan helpdesk
    - Analisis dokumen automatik
    - Penjanaan auto-reply dengan aliran kerja kelulusan
    - Pemantauan prestasi dan kesihatan sistem

    **Keselamatan:**
    - Laravel Sanctum Bearer Token authentication
    - Rate limiting (60 req/min per user, 1000 req/hour per IP)
    - Audit trail komprehensif
    - Pemprosesan AI tempatan (tiada API luaran)
  version: 3.6.0
  contact:
    name: Pasukan Pembangunan BPM MOTAC
    email: ictserve-support@motac.gov.my
  license:
    name: Terhad - Dalaman BPM MOTAC
servers:
  - url: https://ictserve.motac.gov.my/api/v1/ollama
    description: Pelayan Pengeluaran
  - url: https://ictserve-staging.motac.gov.my/api/v1/ollama
    description: Pelayan Ujian
  - url: http://127.0.0.1:8000/api/v1/ollama
    description: Pelayan Pembangunan Tempatan

security:
  - sanctumAuth: []

paths:
  /faq/query:
    post:
      summary: Menghantar pertanyaan kepada FAQ Bot AI
      description: |
        Menghantar pertanyaan kepada sistem FAQ Bot AI untuk mendapatkan 
        jawapan automatik berdasarkan pangkalan pengetahuan.

        **Ciri:**
        - Respons dalam masa 5 saat (95th percentile)
        - Sokongan konteks perbualan untuk pengguna authenticated
        - Fallback kepada sokongan manusia jika keyakinan rendah
        - Bahasa Melayu sahaja (D15 v3.6.0)
      tags:
        - FAQ Bot
      security:
        - sanctumAuth: [read:tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  maxLength: 500
                  description: Pertanyaan pengguna dalam Bahasa Melayu
                  example: "Bagaimana cara reset password ICTServe?"
                context:
                  type: string
                  enum: [guest, authenticated]
                  description: Konteks akses pengguna
                  example: "authenticated"
                session_id:
                  type: string
                  description: ID sesi untuk sejarah perbualan (opsyen)
                  example: "sess_550e8400"
      responses:
        "200":
          description: Jawapan FAQ berjaya dijana
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          answer:
                            type: string
                            description: Jawapan yang dijana AI dalam Bahasa Melayu
                          confidence_score:
                            type: number
                            format: float
                            minimum: 0
                            maximum: 1
                            description: Skor keyakinan jawapan (0.0-1.0)
                          sources:
                            type: array
                            items:
                              $ref: "#/components/schemas/AnswerSource"
                          conversation_id:
                            type: string
                            description: ID perbualan untuk soalan susulan
                          processing_time_ms:
                            type: integer
                            description: Masa pemprosesan dalam milisaat
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimit"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /faq/conversation/{conversation_id}:
    get:
      summary: Mendapatkan sejarah perbualan FAQ
      description: |
        Mengambil sejarah perbualan FAQ untuk pengguna authenticated.
        Sejarah disimpan selama 30 minit untuk soalan susulan.
      tags:
        - FAQ Bot
      security:
        - sanctumAuth: [read:tickets]
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: ID perbualan yang unik
          example: "conv_550e8400"
      responses:
        "200":
          description: Sejarah perbualan berjaya diambil
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Conversation"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/upload:
    post:
      summary: Memuat naik dokumen untuk analisis AI
      description: |
        Memuat naik dokumen (PDF, DOCX, TXT) untuk analisis AI.
        Hanya admin dan superuser yang dibenarkan.

        **Had:**
        - Saiz maksimum: 10MB
        - Format disokong: PDF, DOCX, TXT
        - Pemprosesan tidak segerak dengan job queue
      tags:
        - Document Analysis
      security:
        - sanctumAuth: [admin:all]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Fail dokumen untuk analisis
                metadata:
                  type: string
                  description: Metadata dokumen dalam format JSON
                  example: '{"category":"manual","source":"helpdesk"}'
      responses:
        "201":
          description: Dokumen berjaya dimuat naik dan pemprosesan dimulakan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          document_id:
                            type: integer
                            description: ID dokumen yang unik
                          filename:
                            type: string
                            description: Nama fail dokumen
                          status:
                            type: string
                            enum: [pending, processing, completed, failed]
                            description: Status pemprosesan dokumen
                          job_id:
                            type: string
                            description: ID kerja pemprosesan
                          estimated_processing_time:
                            type: string
                            description: Anggaran masa pemprosesan
        "413":
          description: Fail terlalu besar (melebihi 10MB)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /documents/{document_id}/status:
    get:
      summary: Menyemak status pemprosesan dokumen
      description: |
        Mendapatkan status terkini pemprosesan dokumen termasuk 
        kemajuan dan butiran teknikal.
      tags:
        - Document Analysis
      security:
        - sanctumAuth: [admin:all]
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: integer
          description: ID dokumen yang unik
          example: 456
      responses:
        "200":
          description: Status dokumen berjaya diambil
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/DocumentStatus"

  /auto-reply/generate:
    post:
      summary: Menjana draf auto-reply
      description: |
        Menjana draf auto-reply untuk tiket helpdesk atau pinjaman aset
        menggunakan AI. Pemprosesan dilakukan secara tidak segerak.
      tags:
        - Auto-Reply
      security:
        - sanctumAuth: [admin:all]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - replyable_type
                - replyable_id
              properties:
                replyable_type:
                  type: string
                  enum: [helpdesk_ticket, loan_application]
                  description: Jenis item untuk auto-reply
                replyable_id:
                  type: integer
                  description: ID item (tiket atau pinjaman)
                template_id:
                  type: integer
                  description: ID templat auto-reply (opsyen)
                context:
                  type: object
                  description: Konteks tambahan untuk penjanaan
                  properties:
                    urgency:
                      type: string
                      enum: [low, medium, high, critical]
                    category:
                      type: string
                      description: Kategori tiket/pinjaman
      responses:
        "202":
          description: Draf auto-reply sedang dijana (tidak segerak)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            description: Mesej pengesahan
                          async:
                            type: boolean
                            description: Menunjukkan pemprosesan tidak segerak
                          request_id:
                            type: string
                            format: uuid
                            description: ID permintaan untuk pengesanan
                          estimated_completion:
                            type: string
                            description: Anggaran masa siap

  /auto-reply/{draft_id}/approve:
    post:
      summary: Meluluskan draf auto-reply
      description: |
        Meluluskan draf auto-reply untuk dihantar kepada pengguna.
        Hanya admin dan superuser yang dibenarkan.
      tags:
        - Auto-Reply
      security:
        - sanctumAuth: [admin:all]
      parameters:
        - name: draft_id
          in: path
          required: true
          schema:
            type: integer
          description: ID draf auto-reply
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                remarks:
                  type: string
                  description: Catatan kelulusan (opsyen)
                  example: "Draf ini sesuai untuk dihantar kepada pengguna."
      responses:
        "200":
          description: Draf berjaya diluluskan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                          draft:
                            $ref: "#/components/schemas/AutoReplyDraft"

  /auto-reply/{draft_id}/reject:
    post:
      summary: Menolak draf auto-reply
      description: |
        Menolak draf auto-reply dengan sebab yang dinyatakan.
        Draf akan dikembalikan untuk semakan.
      tags:
        - Auto-Reply
      security:
        - sanctumAuth: [admin:all]
      parameters:
        - name: draft_id
          in: path
          required: true
          schema:
            type: integer
          description: ID draf auto-reply
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  minLength: 10
                  description: Sebab penolakan dalam Bahasa Melayu
                  example: "Kandungan tidak sesuai dengan polisi jabatan."
      responses:
        "200":
          description: Draf berjaya ditolak
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                          draft:
                            $ref: "#/components/schemas/AutoReplyDraft"

  /auto-reply/email-action:
    post:
      summary: Tindakan kelulusan melalui e-mel
      description: |
        Memproses tindakan kelulusan/penolakan melalui token e-mel selamat.
        Tidak memerlukan pengesahan API (menggunakan token e-mel).
      tags:
        - Auto-Reply
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - action
              properties:
                token:
                  type: string
                  description: Token kelulusan e-mel yang selamat
                action:
                  type: string
                  enum: [approve, reject]
                  description: Tindakan yang diambil
                remarks:
                  type: string
                  description: Catatan tambahan (opsyen untuk approve, wajib untuk reject)
      responses:
        "200":
          description: Tindakan berjaya diproses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                          action_taken:
                            type: string
                          processed_at:
                            type: string
                            format: date-time

  /health:
    get:
      summary: Menyemak kesihatan sistem AI
      description: |
        Endpoint awam untuk menyemak status kesihatan sistem AI Ollama
        termasuk sambungan pelayan, pangkalan data, dan cache.
      tags:
        - Monitoring
      security: []
      responses:
        "200":
          description: Status kesihatan sistem
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/HealthStatus"

  /metrics:
    get:
      summary: Mendapatkan metrik prestasi sistem
      description: |
        Mengambil metrik prestasi terperinci untuk pemantauan sistem.
        Hanya admin dan superuser yang dibenarkan.
      tags:
        - Monitoring
      security:
        - sanctumAuth: [admin:all]
      responses:
        "200":
          description: Metrik prestasi sistem
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SystemMetrics"

components:
  securitySchemes:
    sanctumAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Laravel Sanctum Bearer Token authentication.

        **Mendapatkan Token:**
        ```php
        $token = $user->createToken('api-access', ['read:tickets', 'admin:all'])->plainTextToken;
        ```

        **Keupayaan Token:**
        - `read:tickets`: Membaca data tiket
        - `write:tickets`: Menulis data tiket  
        - `read:loans`: Membaca data pinjaman
        - `write:loans`: Menulis data pinjaman
        - `admin:all`: Akses penuh admin

  schemas:
    SuccessResponse:
      type: object
      required:
        - success
        - data
        - meta
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Payload data respons
        meta:
          $ref: "#/components/schemas/ResponseMeta"

    ErrorResponse:
      type: object
      required:
        - success
        - error
        - meta
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Kod ralat yang unik
            message:
              type: string
              description: Mesej ralat dalam Bahasa Melayu
            details:
              type: object
              description: Butiran ralat tambahan
        meta:
          $ref: "#/components/schemas/ResponseMeta"

    ResponseMeta:
      type: object
      required:
        - request_id
        - timestamp
        - version
      properties:
        request_id:
          type: string
          format: uuid
          description: ID permintaan yang unik untuk pengesanan
        timestamp:
          type: string
          format: date-time
          description: Masa respons dalam format ISO 8601
        version:
          type: string
          description: Versi API
          example: "v1"

    AnswerSource:
      type: object
      properties:
        type:
          type: string
          enum: [faq, document, template]
          description: Jenis sumber jawapan
        id:
          type: integer
          description: ID sumber
        title:
          type: string
          description: Tajuk sumber
        relevance_score:
          type: number
          format: float
          description: Skor relevansi sumber

    Conversation:
      type: object
      properties:
        conversation_id:
          type: string
          description: ID perbualan yang unik
        messages:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [user, assistant]
              content:
                type: string
              confidence_score:
                type: number
                format: float
              timestamp:
                type: string
                format: date-time
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    DocumentStatus:
      type: object
      properties:
        document_id:
          type: integer
        filename:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        chunks_created:
          type: integer
        embeddings_generated:
          type: integer
        processing_started_at:
          type: string
          format: date-time
        processing_completed_at:
          type: string
          format: date-time

    AutoReplyDraft:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum: [draft, pending_review, approved, rejected, sent]
        draft_content:
          type: string
        template_used:
          type: string
        generated_by:
          type: string
        approved_by:
          type: string
        rejected_by:
          type: string
        rejection_reason:
          type: string
        created_at:
          type: string
          format: date-time
        approved_at:
          type: string
          format: date-time
        rejected_at:
          type: string
          format: date-time

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        ollama_server:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected, error]
            url:
              type: string
            model:
              type: string
            response_time_ms:
              type: integer
        database:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected, error]
            response_time_ms:
              type: integer
        cache:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected, error]
            hit_rate:
              type: number
              format: float
            memory_usage:
              type: string
        timestamp:
          type: string
          format: date-time

    SystemMetrics:
      type: object
      properties:
        performance:
          type: object
          properties:
            avg_response_time_ms:
              type: integer
            p95_response_time_ms:
              type: integer
            p99_response_time_ms:
              type: integer
            requests_per_minute:
              type: integer
            error_rate:
              type: number
              format: float
        usage:
          type: object
          properties:
            total_queries_today:
              type: integer
            faq_queries:
              type: integer
            document_analyses:
              type: integer
            auto_replies_generated:
              type: integer
        cache:
          type: object
          properties:
            hit_rate:
              type: number
              format: float
            total_keys:
              type: integer
            memory_usage_mb:
              type: integer

  responses:
    BadRequest:
      description: Permintaan tidak sah
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "BAD_REQUEST"
                      message:
                        type: string
                        example: "Permintaan tidak sah atau tidak lengkap."

    Unauthorized:
      description: Token pengesahan diperlukan
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "UNAUTHORIZED"
                      message:
                        type: string
                        example: "Token pengesahan diperlukan untuk mengakses sumber ini."

    ValidationError:
      description: Ralat validasi data
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "VALIDATION_ERROR"
                      message:
                        type: string
                        example: "Data yang dihantar tidak sah."
                      details:
                        type: object
                        example:
                          query: ["Medan pertanyaan diperlukan."]
                          replyable_id: ["ID item mesti berupa nombor."]

    NotFound:
      description: Sumber tidak dijumpai
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "NOT_FOUND"
                      message:
                        type: string
                        example: "Sumber yang diminta tidak dijumpai."

    RateLimit:
      description: Had kadar permintaan dicapai
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Had permintaan setiap minit
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Baki permintaan
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Masa reset had kadar (Unix timestamp)
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "RATE_LIMIT"
                      message:
                        type: string
                        example: "Had kadar permintaan telah dicapai. Sila cuba lagi kemudian."

    ServiceUnavailable:
      description: Perkhidmatan AI tidak tersedia
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/ErrorResponse"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "SERVICE_UNAVAILABLE"
                      message:
                        type: string
                        example: "Perkhidmatan AI tidak tersedia sementara. Sila cuba lagi kemudian."

tags:
  - name: FAQ Bot
    description: |
      Sistem FAQ Bot AI untuk sokongan helpdesk automatik.
      Menyediakan jawapan pantas kepada soalan biasa dalam Bahasa Melayu.
  - name: Document Analysis
    description: |
      Analisis dokumen automatik menggunakan AI untuk pengekstrakan 
      kandungan dan penjanaan embedding untuk carian semantik.
  - name: Auto-Reply
    description: |
      Penjanaan auto-reply AI untuk tiket helpdesk dan pinjaman aset
      dengan aliran kerja kelulusan yang komprehensif.
  - name: Monitoring
    description: |
      Pemantauan kesihatan sistem dan metrik prestasi untuk 
      memastikan operasi AI yang optimum.
